body {
  font-family: Arial, sans-serif;
  background: #e0f2fe;
}

.container {
  text-align: center;
  margin-top: 80px;
}

input {
  padding: 10px;
  margin-right: 5px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.card {
  background: white;
  width: 250px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
}

.error {
  color: red;
}
.dark {
  background: #0f172a;
  color: white;
  min-height: 100vh;
}

.dark .card {
  background: #1e293b;
}
